html {
  width: 100%;
  margin: 1em auto;
  text-align: center;
}

body {
  margin: 0 auto;
  max-width: 960px;
}

div {
  position: relative;
}
p{
  position: absolute;
  top: 50%;
  left: 50%;
}

.alpha {
  background-color: yellow;

}

.bravo {
  background-color: orange;
}

.charlie {
  background-color: red;
}

.delta {
  background-color: blue;
}

.echo {
  background-color: peru;
}

.fox {
  background-color: silver;
}

.golf {
  background-color: skyblue;
}

.hotel {
  background-color: green;
}

.india {
  background-color: darkmagenta;
}